<div class="container welcome-container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Welcome to ERS</h2>
                    <p class="card-text text-center">Please login to continue.</p>

                    <form action="/" method="POST">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" value="admin@gmail.com">
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" value="admin">
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">Login</button>

                    </form>
 
                    <% if(error) { %>
                        <p class="py-3 text-danger"><%= error %></p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>