<h2 class="text-center">Welcome to ERS dashboard</h2>

<!-- <div class="container my-5">
    <div class="row">
        <div class="col-md-3 px-4">
            <h5>Admin Menu</h5>
            <ul class="list-group">
                <li class="list-group-item fw-bolder">Users</li>
                <li class="list-group-item ps-4"><a href="/admin/user/add">Add new user</a></li>
                <li class="list-group-item ps-4">View all users</li>
                <li class="list-group-item fw-bolder">Performance Review</li>
                <li class="list-group-item ps-4">View all reviews</li>
                <li class="list-group-item ps-4">Assign reviews</li>
            </ul>
        </div>
        <div class="col-md-9 px-4">
            <h4>Review Form</h4>
            <form>
                <div class="mb-3">
                    <label for="employeeName" class="form-label">Employee Name</label>
                    <input type="text" class="form-control" id="employeeName" name="employeeName">
                </div>
                <div class="mb-3">
                    <label for="reviewDate" class="form-label">Review Date</label>
                    <input type="date" class="form-control" id="reviewDate" name="reviewDate">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div> -->